<div class="posicao-inicial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img class="foto-perfil" src="../../../assets/logo.png"/>
            </div>
            <div class="col-8">
                <h1 class="nome-usuario">NOME DO USUÁRIO</h1>
                <h3 class="nome-usuario">TITULAÇÃO</h3>
                <h3 class="nome-usuario">Progress bar</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Progresso
            </div>
        </div>       
    </div>
</div>
