<div class="posicao-inicial">
    <div class="container-fluid borda-personalizada">
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="foto-perfil" src="../../../assets/imagem-de-perfil-exemplo.jpg"/>
            </div>
        </div>
        <div class="row justify-content-center descer-texto">
            <div class="col-5 informacoes-usuario">
                <h1>{{nome}}</h1>
            </div>
        </div> 
        <div class="row justify-content-center">
            <div class="col-3 informacoes-usuario">
                <div class="row">
                    <img class="icon-perfil" src="{{icon}}"/>   
                    <p class="level-usuario">Lv.{{level}}</p>
                </div>                
            </div>
        </div> 
    </div>
</div>
