.campo-mensagem{
    width:95%;
    height:10vh;
    border:1px solid gray;
    background-color: darkgray;
    margin-bottom: 2vh;
    border-radius: 15px;
    box-shadow: 2px 3px 1px black;
    transition: .8s;
}
.campo-mensagem:hover{
    background-color: rgb(196, 133, 124);
}

.formata-linha{
    width:100%;
    height:100%;
}

.icone-mensagem{
    width: 5vw;
    height: 50%;
    font-size:300%;
    color: rgb(10, 97, 55);
    text-shadow: 1px 1px black;
}
.icone-remove{
    color:red;
    font-size:300%;
    display: inline;
    transition: .7s;
}
.icone-remove:hover{
    color:rgb(145, 6, 6);
}

.icone-encaminhar{
    color:rgb(191, 204, 9);
    text-shadow: 1px 1px black;
    font-size:300%;
    display: inline;
    transition: .7s;
}
.icone-encaminhar:hover{
    color:rgb(104, 110, 14);
}
.botao-formatado{
    width: 3vw;
    height:50%;
    text-shadow: 1px 1px black;
    outline:none;
}
.centralizar{
    display:inline-block;
    text-align: center;
}

.fonte-formatada{
    font-family: cursive;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
}