<div class="container-fluid campo-mensagem fonte-formatada">
    <div class="row no-gutters align-items-center formata-linha">
        <div class="col-1">
            <mat-icon class="icone-mensagem">email</mat-icon>
        </div>
        <div class="col-2 centralizar">
            {{remetente}}
        </div>
        <div class="col-6 centralizar">
            {{mensagem}}
        </div>
        <div class="col-2 centralizar">
            {{dataHora}}
        </div>
        <div class="col-1 remove-col-padding">
            <button class="botao-formatado" mat-icon-button>
                <mat-icon class="icone-encaminhar">reply</mat-icon>
            </button>
            <button class="botao-formatado" mat-icon-button (dblclick)="removerMensagem()">
                <mat-icon class="icone-remove">cancel</mat-icon>
            </button>
        </div>
    </div>
</div>