<div class="container-fluid formata-tamanho icones">
    <div class="row tamanho-div-exp">
        <div class="col-2">
            <img src={{classeAtual}}/>
        </div>
        <div class="col-3">
            Lv 50
        </div>
        <div class="col-7">
            Barra de XP
        </div>
    </div>

    <!-- AQUI VAI SER UM NgFor -->
    <div class="row">
        <div class="col-4">
            <img src={{this.icones.ICONES.angular}}/>
        </div>
        <div class="col-4">
            <img src={{this.icones.ICONES.java}}/>
        </div>
        <div class="col-4">
            <img src={{this.icones.ICONES.csharp}}/>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src={{this.icones.ICONES.python}}/>
        </div>
        <div class="col-4">
            <img src={{this.icones.ICONES.postgresql}}/>
        </div>
        <div class="col-4">
            <img src={{this.icones.ICONES.ruby}}/>
        </div>
    </div>
</div>