<div class="container-fluid formata-tamanho">
    <div class="row tamanho-div-exp">
        <div class="col-2">
            ICONE
        </div>
        <div class="col-2">
            Level
        </div>
        <div class="col-8">
            Barra de XP
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            Icone 1
            Icone 2
            Icone 3
        </div>
        <div class="col-4">
            Icone 4
            Icone 5
            Icone 6
        </div>
        <div class="col-4">
            Icone 7
            Icone 8
            Icone 9
        </div>
    </div>
</div>