@font-face{
    font-family: nordica;
    src:url('../../fonts/Nordic Alternative Regular.ttf')
}
@font-face{
    font-family: achi;
    src:url('../../fonts/achi regular.ttf')
}
header.principal{
    width: 100%;
    height:10vh;
    background-color: rgb(235,235,235);
    box-shadow: 1px 1px 3px black;
}
.altura-cabecalho{
    height:100%;
}
mat-icon{
    font-size:300%;
    transition: .6s;
}
mat-icon:hover{
    opacity: .6;
    color: blue;
}

.titulo{
    font-size: 150%;
    font-family: 'achi', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 4px white;
    text-decoration: none;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;  
}