.modal-login{
    border-radius: 10%;
    border: 1px solid #AAAAAA;
    box-shadow: inset 0px -5px 22px 0px black;
}
.linha-principal{
    height:100vh;
    align-items: center;
}

/*pega 100% do tamanho de uma div : classe auxiliar*/
.div-preenchida{
    width:100%;
    height: 100%;
}

.remove-padding{
    padding:0px;
}
.formatar-largura-padding{
    width:100%;
    margin-bottom: 10%;
}
.separar-linha{
    position: relative;
    top:7%;
}

a{
    color: black;
}
.separa-icone-do-input{
    margin-right: 19px;
}

.botao-formatado{
    width:100%;
    color: #FFFFFF;
}
.tamanho-input{
    width:100%;
}
.botoes-login{
    transition: .6s;
    margin-top:10%;
    margin-bottom: 20%;
    color:rgb(145, 23, 7);
    font-size: 100%;
}
.botoes-login:hover{
    background-color: rgb(145, 23, 7);
    color: white;
}