<div class="container-fluid tela-login">
    <div class="row justify-content-center linha-principal">
        <div class="col-4 align-self-center modal-login" style="padding: 0px;">
            
            <!-- Parte de dentro do bloco de login-->
            <div class="container-fluid div-preenchida">
                <div class="row justify-content-center">
                    <div class="col-5 remove-padding">
                        <img class="formatar-largura-padding" src="../../../assets/logo.png"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5 remove-padding">
                        <input onfocus="this.placeholder=''" onblur="this.placeholder='login'" class="formatar-largura-padding" placeholder="login" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5 remove-padding">
                        <input onfocus="this.placeholder=''" onblur="this.placeholder='senha'" class="formatar-largura-padding" type="password" placeholder="senha"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5 remove-padding">
                        <button class="formatar-largura-padding">Confirmar</button>
                    </div>
                </div>
                <div class="row justify-content-center separar-linha">
                    <div class="col-6" style="text-align: center;">
                        <a href="">Registrar</a>
                    </div>
                    <div class="col-6" style="text-align: center;">
                        <a href="">Esqueceu a sua senha?</a>
                    </div>
                </div>                  
            </div>

        </div>
    </div>
</div>