<div class="container-fluid tela-login">
    <div class="row justify-content-center linha-principal">
        <div class="col-4 align-self-center modal-login" style="padding: 0px;">
            
            <!-- Parte de dentro do bloco de login-->
            <div class="container-fluid div-preenchida">
                <div class="row justify-content-center">
                    <div class="col-5 remove-padding">
                        <img class="formatar-largura-padding" src="../../../assets/logo.png"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 remove-padding">
                        <mat-form-field appearance="outline" color="accent" class="tamanho-input">
                            <mat-icon matPrefix class="separa-icone-do-input">person_outline</mat-icon>
                            <input [(ngModel)]="login" matInput>
                        </mat-form-field>                    
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 remove-padding">
                        <mat-form-field appearance="outline"color="accent" class="tamanho-input">
                            <mat-icon matPrefix class="separa-icone-do-input">vpn_key</mat-icon>
                            <input [(ngModel)]="senha" type="password" matInput>
                        </mat-form-field>                    
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 remove-padding">
                        <button class="botao-formatado" (click)="efetuarLogin()" mat-raised-button color="accent">Confirmar</button>
                    </div>
                </div>
                <div class="row justify-content-center separar-linha">
                    <div class="col-6" style="text-align: center;">
                        <a href="">Registrar</a>
                    </div>
                    <div class="col-6" style="text-align: center;">
                        <a href="">Esqueceu a sua senha?</a>
                    </div>
                </div>                  
            </div>

        </div>
    </div>
</div>