@import '~@angular/material/theming';
@include mat-core();

$minha-cor: (
  50: rgb(150,150,150),
  100: rgb(150,150,150),
  200: rgb(150,150,150),
  300: rgb(150,150,150),
  400: rgb(150,150,150),
  500: rgb(150,150,150),
  600: rgb(150,150,150),
  700: rgb(150,150,150),
  800: rgb(150,150,150),
  900: rgb(150,150,150),
  A100: rgb(150,150,150),
  A200: rgb(150,150,150),
  A400: rgb(150,150,150),
  A700: rgb(150,150,150),
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #AAAAAA,
    600: #AAAAAA,
    700: #AAAAAA,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: #AAAAAA,
    A400: #AAAAAA,
    A700: #AAAAAA,
  )
);


$custom-theme-primary: mat-palette($minha-cor);
$custom-theme-accent: mat-palette($minha-cor);
$custom-theme-warn: mat-palette($minha-cor);

$my-theme: mat-light-theme($custom-theme-primary,$custom-theme-accent,$custom-theme-warn);

@include angular-material-theme($my-theme);
