@import '~@angular/material/theming';
@include mat-core();

.mat-form-field-wrapper{
  padding-bottom: 10px;
  padding-top: -10px;
}

$minha-cor: (
  50: rgb(0,0,0),
  100: rgb(0,0,0),
  200: rgb(0,0,0),
  300: rgb(0,0,0),
  400: rgb(0,0,0),
  500: rgb(0,0,0),
  600: rgb(0,0,0),
  700: rgb(0,0,0),
  800: rgb(0,0,0),
  900: rgb(0,0,0),
  A100: rgb(0,0,0),
  A200: rgb(0,0,0),
  A400: rgb(0,0,0),
  A700: rgb(0,0,0),
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #000000,
    600: #000000,
    700: #000000,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);
$minha-cor-warn: (
  50: rgb(212, 16, 131),
  100: rgb(212, 16, 131),
  200: rgb(212, 16, 131),
  300: rgb(212, 16, 131),
  400: rgb(212, 16, 131),
  500: rgb(212, 16, 131),
  600: rgb(212, 16, 131),
  700: rgb(212, 16, 131),
  800: rgb(212, 16, 131),
  900: rgb(212, 16, 131),
  A100: rgb(212, 16, 131),
  A200: rgb(212, 16, 131),
  A400: rgb(212, 16, 131),
  A700: rgb(212, 16, 131),
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #000000,
    600: #000000,
    700: #000000,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);
$minha-cor-accent: (
  50: rgb(255,83,61),
  100: rgb(255,83,61),
  200: rgb(255,83,61),
  300: rgb(255,83,61),
  400: rgb(255,83,61),
  500: rgb(255,83,61),
  600: rgb(255,83,61),
  700: rgb(255,83,61),
  800: rgb(255,83,61),
  900: rgb(255,83,61),
  A100: rgb(255,83,61),
  A200: rgb(255,83,61),
  A400: rgb(255,83,61),
  A700: rgb(255,83,61),
  contrast: (
    50: rgb(197,55,36),
    100: rgb(197,55,36),
    200: rgb(197,55,36),
    300: rgb(197,55,36),
    400: rgb(197,55,36),
    500: rgb(197,55,36),
    600: rgb(197,55,36),
    700: rgb(197,55,36),
    800: rgb(197,55,36),
    900: rgb(197,55,36),
    A100: rgb(197,55,36),
    A200: rgb(197,55,36),
    A400: rgb(197,55,36),
    A700: rgb(197,55,36),
  )
);

$custom-theme-primary: mat-palette($minha-cor);
$custom-theme-accent: mat-palette($minha-cor-accent);
$custom-theme-warn: mat-palette($minha-cor-warn);

$my-theme: mat-light-theme($custom-theme-primary,$custom-theme-accent,$custom-theme-warn);

@include angular-material-theme($my-theme);
