@import '~@angular/material/theming';
@include mat-core();

$minha-cor: (
  50: rgb(32, 69, 172),
  100: rgb(32, 69, 172),
  200: rgb(32, 69, 172),
  300: rgb(32, 69, 172),
  400: rgb(32, 69, 172),
  500: rgb(32, 69, 172),
  600: rgb(32, 69, 172),
  700: rgb(32, 69, 172),
  800: rgb(32, 69, 172),
  900: rgb(32, 69, 172),
  A100: rgb(32, 69, 172),
  A200: rgb(32, 69, 172),
  A400: rgb(32, 69, 172),
  A700: rgb(32, 69, 172),
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #271f96,
    600: #271f96,
    700: #271f96,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: #271f96,
    A400: #271f96,
    A700: #271f96,
  )
);


$custom-theme-primary: mat-palette($minha-cor);
$custom-theme-accent: mat-palette($minha-cor);
$custom-theme-warn: mat-palette($minha-cor);

$my-theme: mat-light-theme($custom-theme-primary,$custom-theme-accent,$custom-theme-warn);

@include angular-material-theme($my-theme);
